@use "../includes/" as *;

.converter {
	padding-block: toRem(25);
	&-title {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
	&-container {
	}
	&-body {
	}
	&-input {
	}
	&-unit {
		text-transform: uppercase;
		span {
			color: $accentColor;
		}
	}
}
