@use "../includes/" as *;

.converter {
	padding-block: toRem(50) toRem(25);
	&-title {
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	&-container {
	}
	&-body {
		padding: toRem(48);
		border: toRem(1) solid rgba(218, 197, 167, 0.15);
		border-radius: toRem(2);
		background: rgba(218, 197, 167, 0.05);
		& > *:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	&-input {
	}
	&-unit {
		text-transform: uppercase;
		span {
			color: $accentColor;
		}
	}
}
