@use "../includes/" as *;

.search-car {
	padding-block: toRem(25);
	&-container {
	}
	&-title {
		margin-bottom: toRem(30);
	}
	&-body {
	}
	&-row {
		display: flex;
		column-gap: toRem(50);
	}
	&-column {
		flex: 1 1 toRem(20);
	}
	&-label {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	&-select {
	}
	&-list {
	}
	&-list-item {
		color: $accentColor;
		&:not(:last-child) {
			padding-bottom: toRem(12);
			margin-bottom: toRem(12);
			border-bottom: toRem(1) solid rgba(218, 197, 167, 0.15);
		}
	}
}
