@use "../includes/" as *;

.speedometer {
	padding-block: 25px;
	&-container {
	}
	&-title {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
	&-body {
	}
	&-row {
		display: flex;
		column-gap: toRem(20);
	}
	&-input {
		flex: 1 1 toRem(20);
		transition:
			border-color 0.3s,
			opacity 0.3s,
			background-color 0.3s;
		&.-red {
			background-color: $red-transparent;
		}
		&.-green {
			background-color: $green-transparent;
		}
		&.-orange {
			background-color: $orange-transparent;
		}
	}
}
