@use "../includes/" as *;

.thermometer {
	padding-block: toRem(25);
	&-title {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
	&-container {
	}
	&-body {
		transition: background-color 0.3s;
		&.-red {
			background-color: $red-transparent;
		}
		&.-green {
			background-color: $green-transparent;
		}
		&.-blue {
			background-color: $blue-transparent;
		}
		&.-white {
			background-color: $white-transparent;
		}
	}
}
