// @import url(""); fonts
//
// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================
@use "../fonts" as *;
@forward "../fonts";
// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Satoshi", sans-serif;
$fontSecond: "Chillax", sans-serif;
// $fontSize: 1.125rem; // 18px

// Основні кольори
$mainColor: rgba(218, 197, 167, 0.6); // Колір шрифту за замовчуванням
$backgroundColor: #0e0e0e;
$accentColor: #dac5a7;

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1400;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1250;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S
