@use "../../includes/" as *;

.input {
	height: toRem(53);
	padding-inline: toRem(24);
	border-radius: toRem(2);
	border: toRem(1) solid rgba(218, 197, 167, 0.15);
	letter-spacing: 0.12rem;
	color: #dac5a7;
	outline: none;
	transition:
		border-color 0.3s,
		opacity 0.3s;
	&::placeholder {
		transition: opacity 0.3s;
		text-transform: uppercase;
		font-size: toRem(13);
		color: inherit;
	}
	&:focus {
		border-color: $accentColor;
		&::placeholder {
			opacity: 0;
		}
	}
	&:disabled {
		opacity: 0.5;
	}
}
